.outer{
    width: 100%;
    text-align: center;
}

.button{
    width: 100%;
    background-color: rgba(4, 136, 4, 0);
    height: 10vh;
    color: white;
    font-size: 4vh;
    font-weight: 200;
    border: none;
    outline: none;
    margin: none;
    cursor: pointer;
    display: inline-block;
}

.button:hover{
    background-color: white;
    color: rgba(4, 136, 4);
}